body {
    margin: 0;  
    font-family: Arial, Helvetica, sans-serif;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.content {
    top: 0;
    width: 100%;
    min-height: 100vh;
  }
.content * {
    z-index: 1000;
}
.content img,a {
    box-shadow: 0 0 10px black;
}
nav {
    background: transparent;
    height: 200px;   
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#nav-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#beard-pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.logo {
    width: 150px;
    height: 120px;
    margin-top: 0px;
    margin-left: 80px;
}
.has-border {
    border-radius: 25px;
    border: 2px solid rgb(237, 241, 243);
    background: rgb(250, 249, 244);
    padding: 12px;
    padding-top: 8px;
    margin-top: 15px;
    margin-right: 10px;
    min-width: 8rem;
    height: 5px;
    text-align: center;
    text-transform: uppercase;
   
  }
     
  main {
      height: auto;
  }
 
main img {
        width: 260px;
        height: 240px;
        margin: 5rem 2rem 0;
      }

  footer {
      width: 100%;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      font-size: 17px;
      color: rgb(231, 229, 240);
      background: rgba(50, 50, 50, .7);
      position: fixed;
      bottom: 0;
      
     
     
  }