h1 {
    color: rgb(15, 14, 15);
    width: 63%;
    margin: 5% auto; 
    border-bottom: 3px solid rgb(15, 15, 15);
}
body {
    background: rgb(72, 74, 187);
}
main {
    background: rgb(155, 205, 235);
    width: 60%;
    height: 1300px;
    margin: 5% auto; 
    padding: 15px;
   
}
article{
    margin: 1% auto;
    border: solid gray 2px;
    width: 70%;
    background: rgb(231, 239, 243);
    padding: 10px;
}

article > h3 {
    font-size: 1em;
}
article:hover {
background:  rgb(155, 205, 235);
}
article:hover > h3 {
    color: rgb(28, 3, 121);
}
footer {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 0.5cm;
   color:black;
   width: 65%;
   margin: 3% auto;
   border-bottom: 3px solid rgb(15, 15, 15);
    
}