body {
    font-family: 'Times New Roman', Times, serif;
    background: rgb(124, 213, 240);
}
.container {
    background: white;
    width: 100%;
    height: 100px;
    text-align: center;
}

/* .pixar {
    margin-top: 100px;
} */

