html {
    font-family: Avenir;
    background: url(../images/dashboard.pic.jpeg) no-repeat center fixed; 
    background-size: cover;  
}
body {
    margin: 0; 
}
.container {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-around;

	max-width: 999px;
	width: 100%;
	margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
button {
    box-shadow: 5px 5px 5px black;
}

.calendar {
	grid-area: calendar;
	padding: 16px;
    background-color: rgb(22, 16, 16);
    height: 300px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas:
            "monthyear  monthyear monthyear monthyear monthyear monthyear monthyear"
            "sunday monday tuesday wednesday thursday friday saturday"
        "one two three four five six seven"
        "eight nine ten eleven twelve thirteen fourteen"
        "fifteen sixteen seventeen eighteen nineteen twenty twentyone"
        "twentytwo twentythree twentyfour twentyfive twentysix twentyseven twentyeight"
        "twentynine thirty thirtyone thirtytwo thirtythree thirtyfour thirtyfive";
    max-width: auto;
    color: beige;
    box-shadow: 5px 5px 5px black;
  
}
.greetings {
    display: block;
    text-align: center;
    width: 100%;
    box-shadow: 5px 5px 5px black;
}
.calendar > div {
    padding: 10px;
}

.monthyear {
    grid-area: monthyear;
    background: yellow;
    color: black;
    margin: auto;
}

.sunday {
    grid-area: sunday;
    margin: auto;
}

.monday {
    grid-area: monday;
    margin: auto;
}

.tuesday {
    grid-area: tuesday;
    margin: auto;
}

.wednesday {
    grid-area: wednesday;
    margin: auto;
}

.thursday {
    grid-area: thursday;
    margin: auto;
}

.friday {
    grid-area: friday;
    margin: auto;
}

.saturday {
    grid-area: saturday;
    margin: auto;
}

.box-one {
    grid-area: one;
    margin: auto;
}

.box-two {
    grid-area: two;
    margin: auto;
}

.box-three {
    grid-area: three;
    margin: auto;
}

.box-four {
    grid-area: four;
    margin: auto;
}

.box-five {
    grid-area: five;
    margin: auto;
}

.box-six {
    grid-area: six;
    margin: auto;
}

.box-seven {
    grid-area: seven;
    margin: auto;
}

.box-eight {
    grid-area: eight;
    margin: auto;
}

.box-nine {
    grid-area: nine;
    margin: auto;
}

.box-ten {
    grid-area: ten;
    margin: auto;
}

.box-eleven {
    grid-area: eleven;
    margin: auto;
}

.box-twelve {
    grid-area: twelve;
    margin: auto;
}

.box-thirteen {
    grid-area: thirteen;
    margin: auto;
}

.box-fourteen {
    grid-area: fourteen;
    margin: auto;
}

.box-fifteen {
    grid-area: fifteen;
    margin: auto;
}

.box-sixteen {
    grid-area: sixteen;
    margin: auto;
}

.box-seventeen {
    grid-area: seventeen;
    margin: auto;
}

.box-eighteen {
    grid-area: eighteen;
    margin: auto;
}

.box-nineteen {
    grid-area: nineteen;
    margin: auto;
}

.box-twenty {
    grid-area: twenty;
    margin: auto;
}

.box-twentyone {
    grid-area: twentyone;
    margin: auto;
}

.box-twentytwo {
    grid-area: twentytwo;
    margin: auto;
}

.box-twentythree {
    grid-area: twentythree;
    margin: auto;
}

.box-twentyfour {
    grid-area: twentyfour;
    margin: auto;
}

.box-twentyfive {
    grid-area: twentyfive;
    margin: auto;
}

.box-twentysix {
    grid-area: twentysix;
    margin: auto;
}

.box-twentyseven {
    grid-area: twentyseven;
    margin: auto;
}

.box-twentyeight {
    grid-area: twentyeight;
    margin: auto;
}

.box-twentynine {
    grid-area: twentynine;
    margin: auto;
}

.box-thirty {
    grid-area: thirty;
    margin: auto;
}

.box-thirtyone {
    grid-area: thirtyone;
    margin: auto;
}

.box-thirtytwo {
    grid-area: thirtytwo;
    margin: auto;
}

.box-thirtythree {
    grid-area: thirtythree;
    margin: auto;
}

.box-thirtyfour {
    grid-area: thirtyfour;
    margin: auto;
}

.box-thirtyfive {
    grid-area: thirtyfive;
    margin: auto;
}


.clock {
    background: url(../images/clock.pic.2.png) no-repeat;
    background-size: 200px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    width: 210px;
    height: 204px;
    box-shadow: 5px 5px 5px black;
  }
  .hour {
    width: 10px;
    height: auto;
    margin-top: 65%;
    margin-left: 34%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: rgb(13, 13, 14);
    font-weight: bolder;
   
  }
  .first {
      grid-area: first;
      margin: auto;
  }
  
  .second {
      grid-area: second;
      margin: auto;
  }
  
  .colon {
      grid-area: colon;
      margin: auto;
  }
  
  .third {
      grid-area: third;
      margin: auto;
  }
  
  .fourth {
      grid-area: fourth;
      margin: auto;
  }
  
  .A {
      grid-area: A;
      margin: auto;
  }
  
  .M {
      grid-area: M;
      margin: auto;
  }
  * {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .item {
    background: rgb(90, 85, 85);
    padding: 30px;
    margin: 5px;
    color: rgb(15, 15, 15);
    font-size: 22px;
    font: bold;
    flex: 1;
  }
.calculator {
    grid-area: calc;
    background: rgb(5, 0, 20);
    height: 580px;
    width: 378px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;  
    box-shadow: 5px 5px 5px black;

  }
 
  .result {
    order: -1;
    flex: 100%;
    text-align: right;
    background: silver;
  }
  .CE {
      background: red;
  }
  .C {
      background: red;
  }
  .equal {
      background:blue;
  }
  /*Todo jquery*/
  .todo {
      background: whitesmoke;
      padding: 1rem;
      box-shadow: 5px 5px 5px black;
  }
  h3 {
	font-size: 20px;
	font-weight: 300;
}

.items {
	list-style: none;
	text-align: left;
	margin: 0;
	padding: 0;
}

.items li {
	border-bottom: 1px solid rgba(0,0,0,0.2);
	padding: 10px 0;
	display: flex;
	font-size: 18px;
}

.items label {
	flex: 1;
	cursor: pointer;
}

.items input {
	display: none;
}

.items input + label:before {
	content: '⬜️';
	margin-right: 5px;
}

.items input:checked + label:before {
	content: '🚀';
}

.addItems {
	margin-top: 20px;
	max-width: 400px;
}

.addItems input {
	width: 300px;
	height: 40px;
	font-size: 20px;
	font-weight: 300;
	color: rgb(7,39,39);
	text-align: center;
	margin-bottom: 20px;
	background-color: rgb(19, 226, 130);
	border:1px solid rgba(0,0,0,0.1);
}

input::placeholder {
	color: rgb(7,39,39);
}

input[type='submit'] {
		box-shadow: 3px 4px rgb(13, 14, 14);
}

span {
	cursor: pointer;
}


 
