body {
margin: 0;
font-family: Arial, Helvetica, sans-serif bold;
}
h1 {
    margin-top: 10px;
    text-align: center;
}
h1:hover {
    transition: ease-in-out 4s;
    -webkit-transform: rotateY(-360deg); 
    transform: rotateY(-360deg); 
    background: black;
    color: white;
    border: 1px solid orange;
}
.squares {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   text-align: center;
   text-justify: auto;
}
  .square { 
    width: 50px;
    height: 50px;
    border: 2px solid black;
  }
.white {
    background: white;
}
.whitesmoke {
    background:whitesmoke;
}
.blue {
    background: blue;  
}
.lightskyblue {
    background: lightskyblue;  
}
.yellow {
    background: yellow;
}
.orange {
    background: orange;  
}
.beige {
    background:beige;
}
.burlywood {
    background: burlywood;
}
.green {
    background:green;  
}
.greenyellow {
    background:greenyellow;
}
.violet{
    background: violet;  
}
.wheat{
    background: wheat;  
}
div:hover {
	transition: ease-out 4s;
	-webkit-transform: rotateX(-360deg); 
  transform: rotateX(-360deg); 
  background: white;
}
div:hover div:nth-child(odd) {
	transform: scale(2) rotate(360deg) translate(90px);
	transition-duration: 2s;
    border: 2px solid rgb(208,120,41);
    box-shadow: 0 0 7px black;
    background: black;
    color: white;
}
div:hover div:nth-child(even) {
	transform: scale(0.5) rotate(-360deg) translate(-90px);
	transition-duration: 2s;
    border: 2px solid orange;
    box-shadow: 0 0 12px black;
    background: black;
    color: white;
}
